{% extends 'base.html'%}

{% block am4zonas %}
<form enctype="multipart/form-data"></form>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-right" action="{{url_for('usuario.cerrar_sesion')}}">
            &nbsp; 
            <input type="submit" value="Cerrar sesión" style="background-color: #31326F;color: white;" class="btn btn-primary">
        </form>

        <form method="post" class="navbar-form navbar-right" action="{{url_for('producto.buscar_producto')}}">
            <div class="form-group">
                <input type="text" name="search" id="search" class="form-control" required>
            </div>
            &nbsp; 
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </ul>
</div>
<!-- /.col -->
</div>
{% endblock%}