{% extends 'base.html' %}

{% block title %}
Crear nueva publicación
{% endblock%}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='producto/productodata.css') }}">
{% endblock%}

{% block doggy %}
<a class="navbar-brand" href="#"><img src="../../img/dog.png" alt="Am4zonas" width="35" height="35" style = "margin-right: 10px;"> <strong>Am4zonas</strong></a>
{% endblock%}

{% block content %}
  <form method="post" enctype="multipart/form-data">
  
    <div class="main-content">
        <div class="form-content">
            <form id="survey-form">
                <label for="correo_vendedor">Correo</label>
                <input name="correo_vendedor" id="correo_vendedor" required placeholder="Obligatorio">
                
                <label for="nombre">Nombre del producto</label>
                <input type="text" name="nombre" id="nombre" required placeholder="Obligatorio">
                
                <label for="precio">Precio</label>
                <input type="number " step="0.01" name="precio" id="precio" required placeholder="Obligatorio">
                
                <label for="cantidad">Cantidad</label>
                <input type="number" step="1" name="cantidad" id="cantidad" required placeholder="Obligatorio">
                
                <label for="detalles">Detalles</label>
                <input type="text" name="detalles" id="detalles" required placeholder="Obligatorio">
                
                <label for="descripcion">Descripción</label>
                <input type="text" name="descripcion" id="descripcion">
                
                <label for="estado">Producto nuevo</label>
                <input type="checkbox" name="estado" id="estado">

                <div class="container">
                    <input type="file" name="imagenes" id="imagenes" accept="image/*" class="upload-box" multiple>
                </div>
            
                <div>
                    <input type="submit" value="Publicar producto">
                </div>
            </form>
        </div>
    </div>

  </form>
{% endblock %}