{% extends 'base.html' %}
    
{% block header %}
    <h1>{% block title %}Mis articulos{% endblock %}</h1>
{% endblock %}
    
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='producto/productodata.css') }}">
	<link rel="stylesheet" href="../../static/producto/productos-vendedor.css">
{% endblock%}
    
{% block doggy %}
    <a class="navbar-brand" href="#"><img src="../../static/images/doggy.png" alt="Am4zonas" width="35" height="35" style = "margin-right: 10px;" onclick="location.href='../usuario/vendedor_principal'"> <strong>Am4zonas</strong></a>
{% endblock%}
    
{% block content %}

<button class="atras" onclick=location.href="{{ url_for('usuario.vendedor_principal') }}">Atras</button>

{% for prod in producto%}

<div class="content">
    <div class="agrupador-info">

        <div class="imagen">
            <img class="center" src={{prod.ruta}}>
        </div>

        <div class="nombre-detalles">

			<div>
				<form action="{{url_for('producto.ver_articulo_vendedor')}}" method="POST">
					<input name="id_producto" style="display: none;" id="id_producto" value={{prod.id_producto}} onclick="render_template(producto.ver_articulo_vendedor,producto=prod)">
					<input type="submit" id="prodNombreInput" class="nombre-producto" value="{{prod.nombre}}">
				</form>

				<p style="color: white;">  Detalles: {{prod.detalles }} </p>
				<p style="color: white;"> {{prod.descripcion}} </p>
			</div>

        </div>

		<div class="precio-id">

			<div>
				<h2 class="" > Precio: ${{prod.precio}}</h2>
				<label>ID: {{prod.id_producto}}</label>
			</div>

		</div>

		<div class="elimina-actualiza">
			
			<div>
				<form action="{{url_for('producto.eliminar_producto')}}" method="POST">
					<input name="id_producto" style="display: none;" id="id_producto" value={{prod.id_producto}} onclick="location.href='/producto/eliminar_producto'">
					<input type="submit" value="Eliminar" >
				</form>
	
				<form action="{{url_for('producto.get_actualizar_formulario')}}" method="POST">
					<input name="id_producto" style="display: none;" id="id_producto" value={{prod.id_producto}} '">
					<input type="submit" value="Actualizar">
				</form>
			</div>

		</div>

    </div>
</div>

{% endfor %}
    
{% endblock%}