<!--Cargamos un archivo de estilo para esta pagina-->

<style type="text/css">    
    @import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
    table{
        width: 90% !important;
        font-size: 20px !important;
        margin: 0 auto !important;
        border-collapse: collapse !important;    
    }
    #imagenes{
        width: 40% !important;
    }
    #tabla{
        padding: 50px !important;
    }
    caption{
        font-size: 50px;
        padding-bottom: 20px;
    }
    .esructura{
        padding-top: 1% !important;
    }
    span{
      	position: relative;
      	display: inline-flex;
      	width: 180px;
      	height: 55px;
      	margin: 0 15px;
      	perspective: 1000px;
    }
    span a{
      	font-size: 19px;
      	letter-spacing: 1px;
      	transform-style: preserve-3d;
      	transform: translateZ(-25px);
      	transition: transform .25s;
      	font-family: 'Montserrat', sans-serif;
      
    }
    span a:before,
    span a:after{
      	position: absolute;
      	content: "Comprar Ahora";
      	height: 55px;
      	width: 180px;
      	display: flex;
      	align-items: center;
      	justify-content: center;
      	border: 5px solid black;
      	box-sizing: border-box;
      	border-radius: 5px;
    }
    span a:before{
      	color: #fff;
      	background: #000;
      	transform: rotateY(0deg) translateZ(25px);
    }
    span a:after{
      	color: #000;
      	transform: rotateX(90deg) translateZ(25px);
    }
    span a:hover{
      	transform: translateZ(-25px) rotateX(-90deg);
    }
    
    .center {
      	display: block;
      	margin-left: auto;
      	margin-right: auto;
      	width: 95%;
    }
    
	.boton {
		display: block;
		width: 150px;
    	padding: 10px; 
    	background: #4C4C6D; 
		color: white;
  		border:0 none;
  		cursor:pointer;
  		margin-top: 30px;
  		border-radius: 5px; 
	}

	.boton:hover {
		background-color: #686891;
	    transition: background-color 1s ease-out;
		box-shadow: inset 3px 3px 5px black;
	    outline: 0;
	}

    </style>
<!--Cargamos el encabezado y otros botones-->
    {% extends 'base.html' %}
    
    {% block header %}
      <h1>{% block title %}{{producto.nombre}}{% endblock %}</h1>
    {% endblock %}
    
    {% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='evaluacion/evaluacion-producto.css') }}">
    {% endblock%}
    
    {% block doggy %}
    <a class="navbar-brand" href="#"><img src="../../static/images/doggy.png" alt="Am4zonas" width="35" height="35" style = "margin-right: 10px;"> <strong>Am4zonas</strong></a>
    {% endblock%}
    
    
    
    {% block content %}
    <section id="tabla">
        <table>
           <h1> <caption>{{producto.nombre}}</caption> </h1>
          <tr>
    <!-- Seccion para mostrar las imagenes del producto-->
    
                <td id="imagenes" >
                  {% if url_img != None%}
                    <img class="center" src={{url_img.ruta}}>
                  {% else %}
                    <img class="center" src="https://www.bicifan.uy/wp-content/uploads/2016/09/producto-sin-imagen.png">
                  {% endif %}
                </td>
                
    <!-- Seccion para mostrar detalles del producto-->
                <td>
                    <table class="tg">
                        
                        <tbody>
<!--Cargamos los elementos en el siguiente orden: detalles, descripción, estado, unidades disponibles y precio-->
                          <tr>
                            <td class="esructura">
                                <h2>Detalles</h2>
                                {{producto.detalles}} 
                                <br>
                            </td>
                          </tr>
                          <tr>
                            <td class="esructura">
                                <h2>Descripción</h2>
                                {% if producto.descripcion %}
                                    {{producto.descripcion}} 
                                {% else %}
                                    Sin descripción.
                                {% endif %}
                                <br>
                            </td>
                          </tr>
                          <tr>
                            <td class="esructura">
                                <h2>Estado del producto</h2>
                                {% if producto.estado %}
                                    Nuevo
                                {% else %}
                                    Usado
                                {% endif %}
                                <br>
                            </td>
                          </tr>
                          <td class="esructura">
                            <h2>Unidades disponibles para compra</h2>
                                {{producto.cantidad}}
                              <br>
                            </td>
                          </tr>
                          <tr>
                            <td class="esructura">
                                <table class="tg">
                                    <h2>Precio</h2>
                                    <thead>
                                      <tr>
                                        <th class="tg-0lax">${{producto.precio}}</th>
                                      </tr>
                                    </thead>
                                </table>
                                <button class="boton" onclick=location.href="{{ url_for('producto.productos_vendedor') }}">Regresar a mis articulos</button>
                            </td>
                          </tr>
                        </tbody>  
                    </table>
                </td>
        </table>
        <br>
        <br>
        <br>
        <div class="content">

<!--Seccion de reseñas del producto-->    

          <h1 class="titulo">Evaluaciones de mi producto</h1>
      
          <div class="agrupador-info">
              <div class="estrellas">
                  <div>
                      <p>
                        Opiniones: {{compras | count}}
                      </p>
                      <p>
                          Promedio: {{promedio_estrellas}}
                      </p>
                  </div>
              </div>
              <div class="opiniones">
                  <div>
                      {% if compras %}
                        {% for compra in compras %}
                             <h3>{{compra.Usuario.nombre}}.</h3>
                              <p>
                                {{compra.Compra.comentario}}<br>
                                {% if compra.Compra.numero_estrellas %}
                                  Calificación: {{compra.Compra.numero_estrellas}} estrellas
                                {% else %}
                                  Calificación: Sin calificación.
                                {% endif %}
                             </p>
                        {% endfor %}
                      {% endif %}
                  </div>
                  <!-- <div>
                      <h3>Nombre de usuario 2.</h3>
                      <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nobis mollitia 
                          debitis molestiae autem eligendi esse adipisci. Labore pariatur dicta, sunt molestiae 
                          quasi rem culpa reprehenderit neque illum repellendus quae.
                      </p>
                  </div>
                  <div>
                      <h3>Nombre de usuario 3.</h3>
                      <p>
                          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab dignissimos numquam 
                          voluptates. Suscipit voluptates eaque quo animi doloribus quibusdam facere doloremque 
                          ab illo neque odit quas, repellat ullam fugiat tenetur?
                      </p>
                  </div> -->
              </div>
          </div>
      </div>
      
      <script src="../../static/js/evaluacionProducto.js"></script>
        <a class="button" href="#">Regresar al inicio</a>
        
    </section>
    
    <script src="../../static/js/evaluacionProducto.js"></script>
    {% endblock%}