<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock%}</title>
    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href= "{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% block doggy %}{% endblock%}
            </div>
           {% block am4zonas %}{% endblock%}
        </div>
        <!-- /.container-fluid -->
    </nav>
    {% block content %}{% endblock %}
        <!--Footer -->
        <div class="col-md-12 footer-box">
    {% block footer%} {% endblock%}
</body>
</html>