{% extends 'base.html'%}

{% block title %}Am4zonas{% endblock%}

{% block doggy %}
<a class="navbar-brand" href="#"><img src="../img/dog.png" alt="Am4zonas" width="35" height="35" style = "margin-right: 10px;"> <strong>Am4zonas</strong></a>
{% endblock%}

{% block am4zonas %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-right">
            &nbsp; 
            <button type="submit" style="background-color: #31326F;color: white;" class="btn btn-primary"><strong>Registrarse</strong></button>
        </form>
        <form class="navbar-form navbar-right">
            &nbsp; 
            <button type="submit" style="background-color: #9ddfd3;color:black;" class="btn btn-primary"><strong>Iniciar Sesión</strong></button>
        </form>
    </ul>
</div>
{% endblock%}