{% extends 'base.html'%}

{% block title %}Am4zonas{% endblock%}

{% block doggy %}
<a class="navbar-brand" href="#"><img src="../static/images/doggy.png" alt="Am4zonas" width="35" height="35" style = "margin-right: 10px;"> <strong>Am4zonas</strong></a>
{% endblock%}

{% block style %}
<link rel="stylesheet" href="../static/style-index.css">
{% endblock %}

{% block am4zonas %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-right" action="{{url_for('usuario.registrar_usuario')}}">
            &nbsp; 
            <input type="submit" value="Registrarse" style="background-color: #31326F;color: white;" class="btn btn-primary" onclick="location.href='/usuario/registrar_usuario'">
        </form>
        <form class="navbar-form navbar-right" action="{{url_for('usuario.iniciar_sesion')}}">
            &nbsp; 
            {% if not current_user.is_authenticated %}
                <input type="button" value="Iniciar Sesión" style="background-color: #9ddfd3;color: #000000;" class="btn btn-primary" onclick="location.href='/usuario/iniciar_sesion'">
            {% else %}
                <input type="button" value="Cerrar Sesión" style="background-color: #9ddfd3;color: #000000;" class="btn btn-primary" onclick="location.href='/usuario/cerrar_sesion'">
            {% endif %}
        </form>
    </ul>
</div>
<!-- /.col -->
</div>
{% endblock%}

{% block content %}
<div class="content agrupador-info-sin-sesion">
    <h1>¡Bienvenido a Am4zonas!</h1>
    <p>Por favor, inicie sesión para una gran experiencia.</p>

</div>
{% endblock %}